<app-header></app-header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h1>¡Trabaja con los mejores!</h1>
                <div class="divider mt-4 mb-5 mb-lg-0"></div>
            </div>
            <div class="col-lg-8">
                <p>Somos Designer, un startup de la transformación para quienes necesitan
                    seguir siendo competitivos en un mundo cambiante a gran velocidad.
                    Ayudando a adoptar y hacer funcionar las nuevas tecnologías que
                    impulsan sus retos, acompañándolos en su cambio, y protegiendo sus activos.</p>
                <img src="./assets/img/sign.png" alt="firma">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <h1>Nuestras herramientas</h1>
                <div class="divider mt-4 mb-5 mb-lg-0"></div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="./assets/icon/azure.png" alt="azure" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="./assets/icon/spring.png" alt="spring" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="./assets/icon/angular.png" alt="angular" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="./assets/icon/mysql.png" alt="mysql" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="./assets/icon/jwt.png" alt="jwt" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="award-img">
                            <img src="./assets/icon/github.png" alt="github" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <h1 class="mb-4">Nuestro Equipo</h1>
                    <div class="divider mx-auto my-4"></div>
                    <p>No somos únicamente un grupo de profesionales en las distintas especialidades. Somos un equipo
                        que intenta poner lo mejor de cada uno a tu servicio.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 hover-shadow">
                    <img class="card-img-top" src="./assets/img/andrea.jpg" alt="teacher">
                    <div class="card-body">
                        <h2 class="card-title">Andrea Mendoza</h2>
                        <div class="d-flex justify-content-between">
                            <span>System Analyst</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 hover-shadow">
                    <img class="card-img-top" src="./assets/img/myrella.jpg" alt="teacher">
                    <div class="card-body">
                        <h2 class="card-title">Myrella Mas</h2>
                        <div class="d-flex justify-content-between">
                            <span>Product Owner</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 hover-shadow">
                    <img class="card-img-top" src="./assets/img/katty.jpg" alt="teacher">
                    <div class="card-body">
                        <h2 class="card-title">Katty Miraval</h2>
                        <div class="d-flex justify-content-between">
                            <span>Full stack</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 hover-shadow">
                    <img class="card-img-top" src="./assets/img/marco.jpg" alt="teacher">
                    <div class="card-body">
                        <h2 class="card-title">Marco Huari</h2>
                        <div class="d-flex justify-content-between">
                            <span>Cloud Architect</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 hover-shadow">
                    <img class="card-img-top" src="./assets/img/hasler.jpg" alt="teacher">
                    <div class="card-body">
                        <h2 class="card-title">Hasler Licapa</h2>
                        <div class="d-flex justify-content-between">
                            <span>Full Stack</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>