@import url("https://fonts.googleapis.com/css?family=Amarante");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");

h1 {
  font-family: "Amarante", Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.7em;
  margin: 5%;
  text-align: center;
}

.space {
  margin: 5% 15%;
}

.close {
  opacity: 1;
}

.close--color {
  color: #fff;
}

.card {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 10%;
  padding-left: 0;
}

.card-img-top {
  width: 150px;
  border-color: grey;
  border-style: solid;
  border-width: 2px;
}
