@import url("https://fonts.googleapis.com/css?family=Amarante");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");

h1 {
  font-family: "Amarante", Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.7em;
  margin: 5%;
  text-align: center;
}

.card {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 10%;
}

.btn {
  width: 100px;
  color: white;
  background-color: #ff806d;
}

.btn-customer {
  border-radius: 10px;
  margin-left: 15%;
}

.btn-customer:hover {
  background-color: #ffffff;
  color: #ff806d;
  border: 1px solid #ff806d;
}
