<app-header></app-header>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-2">
                    <img class="img-fluid" src="./assets/img/portada.jpg" alt="portada">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h1 class="display-4">Sé el héroe de tus colaboradores.</h1>
                    <p>Un sistema de gestión de documentos para atender todas las necesidades de tus
                        colaboradores. Rápido, ordenado y seguro.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="feature">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <img class="img-fluid img" src="./assets/icon/icon-sec.png" alt="icon-sec">
                        <h2>Acceso seguro</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <img class="img-fluid img" src="./assets/icon/icon-time.png" alt="icon-time">
                        <h2>Ahorra tiempo</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <img class="img-fluid img" src="./assets/icon/icon-sop.png" alt="icon-sop">
                        <h2>Soporte 24/7</h2>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <img class="img-fluid img" src="./assets/icon/icon-eco.png" alt="icon-eco">
                        <h2>Obtén ganancias</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="anuncio">
        <div class="container">
            <div class="container-anuncio">
                <div class="row align-items-center">
                    <div class="anuncio-titulo">
                        <h1>Que lo administrativo y el papeleo <span>no te frenen</span> </h1>
                    </div>
                    <div class="col-lg-6 col-md-6 feature-col">
                        <div class="anuncio-content">
                            <img class="img-fluid img-anuncio" src="./assets/icon/icon-exc.png" alt="icon-exc">
                            <h2>¿Excesiva carga de trámites
                                legales y laborales?</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 feature-col">
                        <div class="anuncio-content">
                            <img class="img-fluid img-anuncio" src="./assets/icon/icon-exc.png" alt="icon-exc">
                            <h2>¿Necesitas más tiempo para
                                poder realizar tus funciones?</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 feature-col">
                        <div class="anuncio-content">
                            <img class="img-fluid img-anuncio" src="./assets/icon/icon-exc.png" alt="icon-exc">
                            <h2>¿La gestión de documentos
                                es muy demandante?</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 feature-col">
                        <div class="anuncio-content">
                            <img class="img-fluid img-anuncio" src="./assets/icon/icon-exc.png" alt="icon-exc">
                            <h2>¿Es tiempo de revisar la
                                cultura de tu empresa?</h2>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<app-footer></app-footer>