<app-header></app-header>

<section>
    <div class="container container-img">
        <img src="./assets/icon/mapa.png" class="img-mapa" alt="mapa">
    </div>
</section>

<section class="contact-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="contact-title">
                    <h4>Contáctanos</h4>
                    <p>Selecciona la opción por la que quieres comunicarte con nosotros y muy pronto nos pondremos en
                        contacto contigo.</p>
                </div>
                <div class="contact-widget">
                    <div class="cw-item">
                        <div class="ci-text">
                            <span>Dirección:</span>
                            <p>Ciudad Universitario UNMSM Puerta 7
                                San Miguel, Lima</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-text">
                            <span>Teléfono:</span>
                            <p>993 656 426</p>
                        </div>
                    </div>
                    <div class="cw-item">
                        <div class="ci-text">
                            <span>Email:</span>
                            <p>designer@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="contact-form">
                    <div class="leave-comment">
                        <h4>Escríbenos</h4>
                        <p>Comentanos tus dudas o preguntas que de manera inmediata te responderemos.</p>
                        <form class="comment-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Nombre">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Escribe un comentario"></textarea>
                                    <button type="submit" class="site-btn">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>