<app-sidebar></app-sidebar>
<section id="contact-form">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="title-area text-dark">
                    <h1 class="font-primary">Agregar Documento</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
                <div class="form-area p-lg-4 p-3">
                    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                        <div class="row space">
                            <div class="col-md-12">
                                <div class="form-group first">
                                    <input type="text" id="codigoDoc" name="codigoDoc" [(ngModel)]="documento.codigoDoc"
                                        required>
                                    <label class="lbl-nombre">
                                        <span class="text-nomb">Código:</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row space">
                            <div class="col-md-12">
                                <div class="form-group first">
                                    <input type="text" id="descripcion" name="descripcion"
                                        [(ngModel)]="documento.descripcion" required>
                                    <label class="lbl-nombre">
                                        <span class="text-nomb">Descripción:</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row space">
                            <div class="col-md-12">
                                <div class="form-group first">
                                    <!--select name="tipoDocumento" [(ngModel)]="seleccionado">
                                        <option [ngValue]="0">Seleccionar Tipo</option>
                                        <option [ngValue]="tipo.id" *ngFor="let tipo of documento.tipoDocumento">
                                            {{tipo.descripcion}}</option>
                                    </select-->
                                    <input type="text" id="tipoDocumento" name="tipoDocumento"
                                        [(ngModel)]="documento.tipoDocumento.descripcion" required>
                                    <label class="lbl-nombre">
                                        <span class="text-nomb">Tipo:</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row space">
                            <div class="col-md-6">
                                <button class="btn btn-primary text-light">Subir imagen</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-danger text-light btn-customizer"
                                    [routerLink]="['/documentos/listar']"><i
                                        class="fas fa-arrow-alt-circle-left"></i>Cancelar</button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success text-light btn-customizer" [disabled]="!f.valid"><i
                                        class="fas fa-save"></i>Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>