.footer__color {
	margin-top: 7%;
    background-color: #FF806D; 
}

.container {
	padding: 30px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

@media (max-width: 575.98px){
	.footer__color{
		margin-top: 20%;
	}
}