<section>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Mi Menu
            <div class="fondo"></div>
        </header>
        <a href="#" class="active">
            <i class="fas fa-home"></i>
            <span>Inicio</span>
        </a>
        <a href="#">
            <i class="fas fa-plus-circle"></i>
            <span>Agregar Documentos</span>
        </a>
        <a href="#">
            <i class="fas fa-eye"></i>
            <span>Ver Documentos</span>
        </a>
        <a href="#">
            <i class="fas fa-sign-out-alt"></i>
            <span>Cerrar Sesión</span>
        </a>
    </div>
</section>