@import url("https://fonts.googleapis.com/css?family=Amarante");

h1 {
  font-family: "Amarante", Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.7em;
  margin-top: 5%;
  text-align: center;
}

.container {
  font-family: "Roboto", sans-serif;
}

.space {
  margin: 5% 0;
}

input {
  width: 100%;
  height: 100%;
  background: none;
  color: black;
  padding-top: 20px;
  border: none;
  outline: 0px;
}

.lbl-nombre {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 3px solid #ff806d;
}

.lbl-nombre:after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
  transition: all 0.3s ease;
}

.text-nomb {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: rgb(177, 177, 177);
}

input:focus + .lbl-nombre .text-nomb,
input:valid + .lbl-nombre .text-nomb {
  transform: translateY(-150%);
  font-size: 14px;
  color: #ff806d;
}

input:focus + .lbl-nombre:after,
input:valid + .lbl-nombre:after {
  transform: translateX(0%);
}

.btn-customizer {
  width: 100%;
}

.btn-icon {
  margin: 1%;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.content-select {
  max-width: 250px;
  position: relative;
}

select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 7px 10px;
  height: 42px;
  outline: 0;
  border: 0;
  border-radius: 0;
  color: black;
  border: 2px solid #ff806d;
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

.close {
  opacity: 1;
}

.close--color {
  color: #fff;
}

.card {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  margin-bottom: 10%;
  padding-left: 0;
}

.card-img-top {
  width: 150px;
  border-color: grey;
  border-style: solid;
  border-width: 2px;
}

