<app-sidebar></app-sidebar>
<div class="container" *ngIf="documento">
    <div class="row">

        <div class="col-sm-12 text-center">
            <div class="title-area text-dark">
                <h1 class="font-primary">Editar Documento</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
            <div class="form-area p-lg-4 p-3">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="row space">
                        <div class="col-md-12">
                            <div class="form-group first">
                                <input type="text" id="codigoDoc" name="codigoDoc" [(ngModel)]="documento.codigoDoc"
                                    required>
                                <label class="lbl-nombre">
                                    <span class="text-nomb">Código:</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row space">
                        <div class="col-md-12">
                            <div class="form-group first">
                                <input type="text" id="descripcion" name="descripcion"
                                    [(ngModel)]="documento.descripcion" required>
                                <label class="lbl-nombre">
                                    <span class="text-nomb">Descripción:</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row space">
                        <div class="col-md-6">
                            <label>
                                <span class="text-nomb">Tipo de Documento:</span>
                            </label>
                        </div>
                        <div class="col-md-6 content-select">
                            <select name="tipoDocumento" [(ngModel)]="seleccionado">
                                <option value='0' disabled>Escoga un tipo...</option>
                                <option [ngValue]="tipodocumento.id" *ngFor="let tipodocumento of tipodocumentos">
                                    {{tipodocumento.descripcion}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row space">
                        <div class="col-md-8">
                            <input type="file" accept="image/*" (change)="fileChangeEvent($event)" multiple>
                        </div>
                    </div>
                    <div style="width: 100%; display: flex; justify-content: center;">
                        <div *ngFor="let imagen of documento.imagenes" style="width: 200px; margin: 20px;">
                            <div>
                                <button type="button" class="btn btn-outline-success btn-icon"
                                    (click)="procesarImagen(imagen.id, imagen.nombre)">
                                    <i class="far fa-hourglass"></i></button>
                                <button type="button" class="btn btn-outline-danger btn-icon"
                                    (click)="eliminarImagen(imagen.id)">
                                    <i class="far fa-trash-alt"></i></button>
                                <a href="http://169.57.99.220:32135/api/uploads/img/{{imagen.nombre}}"
                                    download="{{imagen.nombre}}" class="btn btn-outline-primary btn-icon">
                                    <i class="fas fa-cloud-download-alt"></i></a>
                            </div>
                            <div class="col-sm-3 card">
                                <a href="#" data-toggle="modal" [attr.data-target]="'#test-' + imagen.id">
                                    <img src="http://169.57.99.220:32135/api/uploads/img/{{imagen.nombre}}"
                                        alt="documentos" class="card-img-top">
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="test-{{imagen.id}}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <button type="button" class="close mr-2 mt-2 close--color" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <img class="img-thumbnail rounded"
                                                src="http://169.57.99.220:32135/api/uploads/img/{{imagen.nombre}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row space">
                        <div class="col-md-3">
                            <button class="btn btn-danger text-light btn-customizer"
                                [routerLink]="['/documentos/listar']"><i
                                    class="fas fa-arrow-alt-circle-left"></i>Cancelar</button>
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-success text-light btn-customizer" [disabled]="!f.valid"><i
                                    class="fas fa-save"></i>Actualizar</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary text-light" (click)="generatePdf()">
                                <i class="fas fa-file-download"></i> Generar PDF</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>